h1{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 24px;
    margin: 10px;
}

a{
    text-decoration: none;
    color: black;
}

header{
    align-items: center;
    display: flex;
    background-color: #eaeaea;
    justify-content: space-between;
    padding: 10px 20px;
}

/*se borro el input para evitar errores de compatibilidad a futuro*/
#taskInput {
    width: 100%;
    max-width: 350px;
    padding: 8px 16px;
    border: 1px;
    font-size: 14px;
    outline: none;
    background-color: white;
}

.mensajeSinResultados {
    text-align: center;
    font-size: 30px;
    color: #5c2207;
    margin: 30px 0;
    font-weight: bold;
}

.iconos-header {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.icono {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.logo{
    flex: 1;
    align-items: Right;
    text-decoration: none; /*evita la linea de los links*/
}

.logo img{
    height: 50px;
    width: auto;
    display: block;
}

.galeria-productos { /*contenedor de productos*/
    display: flex;
    justify-content: center; 
    gap: 30px; 
    padding: 20px;
}

.producto {
    background-color: #eaeaea;
    padding: 15px;
    text-align: center;
    width: 220px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.img-producto {
    width: 200px;
    height: 300px;
    object-fit: contain; 
    margin-bottom: 10px;
    align-self: center;
}

.btn-favorito {
    background-color: white;
    border: 1px solid rgb(255, 118, 39); 
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 5px;
    width: 100%;
    margin-top: auto;
}

.btn-carrito {
    background-color: rgb(255, 118, 39); 
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    width: 100%;
    margin-top: bottom;
}

.centrar{
    display: flex;
    justify-content: center;
}

.centrar-body{
    flex-grow: 1;
    padding: 20px;
}

body{
    margin: 0px;
    padding: 0px;
}

.contenedor-pagina{
    display: flex;
}

.barraLateral{
    width: 175px;
    background-color: #b3b3b3;
    padding: 15px;             
    box-sizing: border-box;
}
.galeria-trailers {
    background-color: #292929;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}

.trailer {
    background-color: #eaeaea; 
    padding: 10px;
    text-align: center;
    width: 350px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.video-trailer {
    width: 100%;
    aspect-ratio: 16 / 9;
    background-color: black;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer{
    background-color: rgb(255, 118, 39);
    color: white;
    padding: 20;
    text-align: center;
}